@import "tailwindcss";

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}

@theme {
    --color-blue-primaryCima:#092648;
    --color-red-secundaryCima:#FB0808;
    --font-roboto: "Roboto", sans-serif;
}

@keyframes inwardsY {
    from {
    opacity: 0;
    transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes inwardsX {
    from {
    opacity: 0;
    transform: translateX(90px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
